<form [formGroup]="form" class="actividad-form p-fluid">

  <div class="p-field">
    <label for="nombre">Nombre *</label>
    <input id="nombre" pInputText formControlName="nombre" autofocus />
  </div>

  <div class="p-field">
    <label for="ubicacion">Ubicación</label>
    <input id="ubicacion" pInputText formControlName="ubicacion" />
  </div>

  <div class="p-field">
    <label for="costo">Costo estimado</label>
    <p-inputNumber inputId="costo" formControlName="costoEstimado" mode="currency" [currency]="monedaBase" [showButtons]="true"
      [min]="0">
    </p-inputNumber>
  </div>

  <div class="p-field">
    <label for="descripcion">Descripción</label>
    <textarea id="descripcion" pTextarea rows="3" autoResize formControlName="descripcion">
    </textarea>
  </div>

  <div class="form-actions">
    <button pButton type="button" label="Cancelar" class="p-button-text" (click)="cancelar()">
    </button>

    <button pButton type="submit" label="Guardar" icon="pi pi-check" (click)="guardar()" [disabled]="form.invalid">
    </button>
  </div>

</form>